.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  
  .Small {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .icon {
    width: 120px;
    height: 95px;
    flex-shrink: 0;
    fill: #232971;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .box-desc {
    color: #232971;
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @media (max-width: 768px) {
    .icons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .Small {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .icon {
      width: 55.913px;
      height: 52.592px;
      flex-shrink: 0;
    }
    
    .box-desc {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }
    .Small {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .icon {
      width: 80px;
      height: 52.592px;
      flex-shrink: 0;
    }
    
    .box-desc {
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }