.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slider-track:hover{
  animation-play-state: paused;
}

.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}




.slide img{
  width: 100%;
  transition: transform 1s;
}
.slide img:hover{
  transform: translateZ(20px);
}

  .slider::before,
  .slider::after{
    content: '';
    height: 100%;
    position: absolute ;
    width: 15%;
    z-index: 2;
   }

   .slider::before{
    left: 0;
    top:0;
   }
   .slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
   }