.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-left {
  flex: 1;
  padding: 20px;
}

.about-title {
  color: #232971;
  font-family: "Anton", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.about-left p {
  color: #fefeff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.About-img {
  width: 559px;
  height: 545px;
  flex-shrink: 0;
}

@media (max-width: 820px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .about-title {
    font-size: 44.355px;
    margin-bottom: 2rem;
  }
  .about-left p {
    font-size: 22.178px;
  }
  .About-img {
    width: 258.278px;
    height: 251.809px;
  }
  .timline-img {
    display: none;
  }
}
