.Service {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.first-container {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-size: 109.545px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.p-card {
  font-size: 4rem;
  font-weight: 600;
  font-family: Burbank Big Condensed;
  color: rgba(255, 255, 255, 1);
  line-height: 110px;
  letter-spacing: 0em;
  text-align: center;
}
.p-card {
  color: rgba(47, 45, 132, 1);
  font-size: 3rem;
}
.seconde-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 2rem;
  justify-items: center;
}
.cardd {
  border: 5px solid rgba(47, 45, 132, 1);
  border-radius: 0px 60px 60px 60px;
  width: 18rem;
  height: 16rem;
  padding: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: rgba(47, 45, 132, 1);
}
.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 80px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .seconde-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .seconde-container {
    grid-template-columns: 1fr;
  }
  .Service {
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
