
.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4rem;
    padding: 10rem;
    justify-items: center;
  }
  
  .first-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 113.342px 0px 91.031px;
    width: 399.821px;
    height: 373.94px;
    flex-shrink: 0;
    flex-shrink: 0;
    background: #323786;
    padding: 1rem;
    text-align: center;
    gap:2rem;
    border: 5px  solid white;
  }
  
  h4 {
    color: #FFF;
    font-family: Burbank Big Condensed;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
  }
  
  .log-contact {
    width: 5rem;
    
  }
  
  .title-contact {
    text-align: center;
    margin-top: 2rem;
    color: #323786;
    font-weight: bold;
    margin-top: 5rem;
  }

  @media (max-width: 480px) {
    .contact-title {
      width: 200px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 1024px) {
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
    }
    .first-contact {
      width: 299.821px;
      height: 273.94px;
      flex-shrink: 0;
      gap:2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
  }
  