@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}

.logo {
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: center;
  flex-grow: 6;
}

.link {
  margin: 0 15px;
  color: #232971;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  margin: 0 10px;
  padding: 8px 12px;
  border-radius: 8.412px;
  background: #232971;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 39px;
  flex-shrink: 0;
  font-family: 'Anton', sans-serif;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #2d348b;
  margin: 2px 0;
}

.hamburger.open .bar {
  transform: rotate(45deg) translate(5px, 5px);
  transition: transform 0.3s ease-in-out;
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1030px) {
  .navbar {
    padding: 10px 20px;
    background-color: #d0d1e6;
    
  }
  .logo {
    font-size: 20px;
  }

  .button {
    display: none;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    right: -100%;
    transition: right 0.3s ease-in-out;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #2d348b;
  }

  .links.active {
    display: flex;
    right: 0; 
    transition: right 3s ease-in-out;
  }

  .link {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    z-index: 1000;
  }

  .hamburger.open .bar {
    transform: rotate(45deg) translate(5px, 5px);
    transition: transform 0.3s ease-in-out;
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: transform 0.3s ease-in-out;
  }
}
