.footer-container {
  background-image: url("../../../public/FOOTER.png");
  width: 100%;
  height: 721px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  justify-content: space-around;
}

.footer-text {
  text-align: center;
  margin-top: 50px;
}

.footer-text h6 {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.546px;
  text-transform: uppercase;
}

.footer-text h4 {
  color: var(--dark, #0a142f);
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.546px;
}

.footer-text h5 {
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.546px;
  font-size: 1rem;
  color: Dark;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-btn {
  margin: 5px;
  width: 277px;
  height: 73.983px;
  flex-shrink: 0;
  border-radius: 31.992px;
  background: #202871;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-login {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.f-links {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.f-link {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  color: #000000;
  font-family: "Anton", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.social-links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.f-icon {
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: auto;
    padding: 40px;
    flex-direction: column;
  }

  .footer-text {
    margin-top: 20px;
  }

  .footer-text h4 {
    font-size: 40px;
  }

  .footer-text h5 {
    font-size: 18px;
  }

  .btns {
    flex-direction: column;
  }

  .footer-btn {
    margin: 5px;
    width: 200px;
    height: 73.983px;
    font-size: 22px;
  }

  .footer-login {
    flex-direction: column;
    margin-top: 10px;
  }

  .footer-nav {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .f-links {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .f-link {
    margin: 10px 0;
  }

  .social-links {
    justify-content: center;
    margin-top: 20px;
  }

  .f-icon {
    font-size: 2rem;
  }

  .f-logo {
    display: none;
  }

}

@media screen and (max-width: 1500px) {
  .f-link {
    margin: 0 1px;
  }
}

