.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  color: #fff;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center; 
}

.testimonial {
  background: #292c77;
  padding: 30px;
  border-radius: 20px;
  text-align: center; 
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #f0932b;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}
